@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none !important; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/*=================================
  Main styling starts here
=================================*/
.App {
  min-height: 100vh;
  margin: 0;
  position: relative;
  background-color: #111;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #222), color-stop(6%, #111),color-stop(7%, #111), color-stop(7%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(30%, #111), color-stop(30%, transparent)),
                    -webkit-gradient(linear, left top, right top, from(#222), color-stop(5%, #2e2e2e), color-stop(5%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(6%, transparent), color-stop(6%, #222), color-stop(9%, #2e2e2e), color-stop(9%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(27%, transparent), color-stop(27%, #222), color-stop(34%, #2e2e2e), color-stop(34%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(51%, transparent), color-stop(51%, #222), color-stop(57%, #2e2e2e), color-stop(57%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(35%, #111), color-stop(35%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(42%, transparent), color-stop(42%, #222), color-stop(44%, #2e2e2e), color-stop(44%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(45%, transparent), color-stop(45%, #222), color-stop(47%, #2e2e2e), color-stop(47%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(48%, transparent), color-stop(48%, #222), color-stop(50%, #2e2e2e), color-stop(50%, transparent)), 
                    -webkit-gradient(linear, left top, right top, color-stop(87%, transparent), color-stop(87%, #222), color-stop(91%, #2e2e2e), color-stop(91%, transparent)), 
                    -webkit-gradient(linear, left top, left bottom, color-stop(37.5%, #111), color-stop(37.5%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(14%, transparent), color-stop(14%, #222), color-stop(20%, #2e2e2e), color-stop(20%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(40%, #111), color-stop(40%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(10%, #222), color-stop(13%, #2e2e2e), color-stop(13%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(21%, transparent), color-stop(21%, #222), color-stop(25%, #222), color-stop(25%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(58%, transparent), color-stop(58%, #222), color-stop(64%, #2e2e2e), color-stop(64%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(92%, transparent), color-stop(92%, #222), color-stop(95%, #2e2e2e), color-stop(95%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(48%, #111), color-stop(48%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(96%, transparent), color-stop(96%, #222), color-stop(99%, #222), color-stop(99%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(68.5%, transparent), color-stop(76%, transparent), color-stop(76%, #111), color-stop(77.5%, #111), color-stop(77.5%, transparent), color-stop(86%, transparent), color-stop(86%, #111),  color-stop(87.5%, #111), color-stop(87.5%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(35%, transparent), color-stop(35%, #222), color-stop(41%, #2e2e2e), color-stop(41%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(68%, #111), color-stop(68%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(78%, transparent), color-stop(78%, #333), color-stop(80%, #333), color-stop(80%, transparent), color-stop(82%, transparent), color-stop(82%, #333), color-stop(83%, #333), color-stop(83%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(66%, transparent), color-stop(66%, #222), color-stop(85%, #2e2e2e), color-stop(85%, transparent));
  background-image: -o-linear-gradient(bottom, #222 5%, #111 6%,#111 7%, transparent 7%),
                    -o-linear-gradient(top, #111 30%, transparent 30%),
                    -o-linear-gradient(left, #222, #2e2e2e 5%, transparent 5%),
                    -o-linear-gradient(left, transparent 6%, #222 6%, #2e2e2e 9%, transparent 9%),
                    -o-linear-gradient(left, transparent 27%, #222 27%, #2e2e2e 34%, transparent 34%),
                    -o-linear-gradient(left, transparent 51%, #222 51%, #2e2e2e 57%, transparent 57%),
                    -o-linear-gradient(top, #111 35%, transparent 35%),
                    -o-linear-gradient(left, transparent 42%, #222 42%, #2e2e2e 44%, transparent 44%),
                    -o-linear-gradient(left, transparent 45%, #222 45%, #2e2e2e 47%, transparent 47%),
                    -o-linear-gradient(left, transparent 48%, #222 48%, #2e2e2e 50%, transparent 50%), 
                    -o-linear-gradient(left, transparent 87%, #222 87%, #2e2e2e 91%, transparent 91%), 
                    -o-linear-gradient(top, #111 37.5%, transparent 37.5%),
                    -o-linear-gradient(left, transparent 14%, #222 14%, #2e2e2e 20%, transparent 20%),
                    -o-linear-gradient(top, #111 40%, transparent 40%),
                    -o-linear-gradient(left, transparent 10%, #222 10%, #2e2e2e 13%, transparent 13%),
                    -o-linear-gradient(left, transparent 21%, #222 21%, #222 25%, transparent 25%),
                    -o-linear-gradient(left, transparent 58%, #222 58%, #2e2e2e 64%, transparent 64%),
                    -o-linear-gradient(left, transparent 92%, #222 92%, #2e2e2e 95%, transparent 95%),
                    -o-linear-gradient(top, #111 48%, transparent 48%),
                    -o-linear-gradient(left, transparent 96%, #222 96%, #222 99%, transparent 99%),
                    -o-linear-gradient(top, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%,  #111 87.5%, transparent 87.5%),
                    -o-linear-gradient(left, transparent 35%, #222 35%, #2e2e2e 41%, transparent 41%),
                    -o-linear-gradient(top, #111 68%, transparent 68%),
                    -o-linear-gradient(left, transparent 78%, #333 78%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 83%, transparent 83%),
                    -o-linear-gradient(left, transparent 66%, #222 66%, #2e2e2e 85%, transparent 85%);
  background-image: linear-gradient(to top, #222 5%, #111 6%,#111 7%, transparent 7%),
                    linear-gradient(to bottom, #111 30%, transparent 30%),
                    linear-gradient(to right, #222, #2e2e2e 5%, transparent 5%),
                    linear-gradient(to right, transparent 6%, #222 6%, #2e2e2e 9%, transparent 9%),
                    linear-gradient(to right, transparent 27%, #222 27%, #2e2e2e 34%, transparent 34%),
                    linear-gradient(to right, transparent 51%, #222 51%, #2e2e2e 57%, transparent 57%),
                    linear-gradient(to bottom, #111 35%, transparent 35%),
                    linear-gradient(to right, transparent 42%, #222 42%, #2e2e2e 44%, transparent 44%),
                    linear-gradient(to right, transparent 45%, #222 45%, #2e2e2e 47%, transparent 47%),
                    linear-gradient(to right, transparent 48%, #222 48%, #2e2e2e 50%, transparent 50%), 
                    linear-gradient(to right, transparent 87%, #222 87%, #2e2e2e 91%, transparent 91%), 
                    linear-gradient(to bottom, #111 37.5%, transparent 37.5%),
                    linear-gradient(to right, transparent 14%, #222 14%, #2e2e2e 20%, transparent 20%),
                    linear-gradient(to bottom, #111 40%, transparent 40%),
                    linear-gradient(to right, transparent 10%, #222 10%, #2e2e2e 13%, transparent 13%),
                    linear-gradient(to right, transparent 21%, #222 21%, #222 25%, transparent 25%),
                    linear-gradient(to right, transparent 58%, #222 58%, #2e2e2e 64%, transparent 64%),
                    linear-gradient(to right, transparent 92%, #222 92%, #2e2e2e 95%, transparent 95%),
                    linear-gradient(to bottom, #111 48%, transparent 48%),
                    linear-gradient(to right, transparent 96%, #222 96%, #222 99%, transparent 99%),
                    linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%,  #111 87.5%, transparent 87.5%),
                    linear-gradient(to right, transparent 35%, #222 35%, #2e2e2e 41%, transparent 41%),
                    linear-gradient(to bottom, #111 68%, transparent 68%),
                    linear-gradient(to right, transparent 78%, #333 78%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 83%, transparent 83%),
                    linear-gradient(to right, transparent 66%, #222 66%, #2e2e2e 85%, transparent 85%);
  background-size: 300px 150px;
  background-position: center bottom;
}
/*=================================
  Loader styling starts here
=================================*/
.loader::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #111;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #d2b48c), color-stop(6%, #111), color-stop(7%, #111), color-stop(7%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(30%, #111), color-stop(30%, transparent)),
                    -webkit-gradient(linear, left top, right top, from(#b22222), color-stop(5%, #470d0d), color-stop(5%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(6%, transparent), color-stop(6%, #ff6347), color-stop(9%, #66271c), color-stop(9%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(27%, transparent), color-stop(27%, #556b2f), color-stop(34%, #222a12), color-stop(34%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(51%, transparent), color-stop(51%, #fa8072), color-stop(57%, #64332d), color-stop(57%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(35%, #111), color-stop(35%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(42%, transparent), color-stop(42%, #008080), color-stop(44%, #003333), color-stop(44%, transparent)), 
                    -webkit-gradient(linear, left top, right top, color-stop(45%, transparent), color-stop(45%, #008080), color-stop(47%, #003333), color-stop(47%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(48%, transparent), color-stop(48%, #008080), color-stop(50%, #003333), color-stop(50%, transparent)), 
                    -webkit-gradient(linear, left top, right top, color-stop(87%, transparent), color-stop(87%, #778899), color-stop(91%, #2f363d), color-stop(91%, transparent)), 
                    -webkit-gradient(linear, left top, left bottom, color-stop(37.5%, #111), color-stop(37.5%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(14%, transparent), color-stop(14%, #bdb76b), color-stop(20%, #4b492a), color-stop(20%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(40%, #111), color-stop(40%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(10%, transparent),color-stop(10%, #808000), color-stop(13%, #333300), color-stop(13%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(21%, transparent), color-stop(21%, #8b4513), color-stop(25%, #371b07), color-stop(25%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(58%, transparent), color-stop(58%, #8b4513), color-stop(64%, #371b07), color-stop(64%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(92%, transparent), color-stop(92%, #2f4f4f), color-stop(95%, #121f1f), color-stop(95%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(48%, #111), color-stop(48%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(96%, transparent), color-stop(96%, #2f4f4f), color-stop(99%, #121f1f), color-stop(99%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(68.5%, transparent), color-stop(76%, transparent), color-stop(76%, #111), color-stop(77.5%, #111), color-stop(77.5%, transparent), color-stop(86%, transparent), color-stop(86%, #111), color-stop(87.5%, #111), color-stop(87.5%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(35%, transparent), color-stop(35%, #cd5c5c), color-stop(41%, #522424), color-stop(41%, transparent)),
                    -webkit-gradient(linear, left top, left bottom, color-stop(68%, #111), color-stop(68%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(78%, transparent), color-stop(78%, #bc8f8f), color-stop(80%, #4b3939), color-stop(80%, transparent), color-stop(82%, transparent), color-stop(82%, #bc8f8f), color-stop(83%, #4b3939), color-stop(83%, transparent)),
                    -webkit-gradient(linear, left top, right top, color-stop(66%, transparent), color-stop(66%, #a52a2a), color-stop(85%, #421010), color-stop(85%, transparent));
  background-image: -o-linear-gradient(bottom, #d2b48c 5%, #111 6%, #111 7%, transparent 7%),
                    -o-linear-gradient(top, #111 30%, transparent 30%),
                    -o-linear-gradient(left, #b22222, #470d0d 5%, transparent 5%),
                    -o-linear-gradient(left, transparent 6%, #ff6347 6%, #66271c 9%, transparent 9%),
                    -o-linear-gradient(left, transparent 27%, #556b2f 27%, #222a12 34%, transparent 34%),
                    -o-linear-gradient(left, transparent 51%, #fa8072 51%, #64332d 57%, transparent 57%),
                    -o-linear-gradient(top, #111 35%, transparent 35%),
                    -o-linear-gradient(left, transparent 42%, #008080 42%, #003333 44%, transparent 44%), 
                    -o-linear-gradient(left, transparent 45%, #008080 45%, #003333 47%, transparent 47%),
                    -o-linear-gradient(left, transparent 48%, #008080 48%, #003333 50%, transparent 50%), 
                    -o-linear-gradient(left, transparent 87%, #778899 87%, #2f363d 91%, transparent 91%), 
                    -o-linear-gradient(top, #111 37.5%, transparent 37.5%),
                    -o-linear-gradient(left, transparent 14%, #bdb76b 14%, #4b492a 20%, transparent 20%),
                    -o-linear-gradient(top, #111 40%, transparent 40%),
                    -o-linear-gradient(left, transparent 10%,#808000 10%, #333300 13%, transparent 13%),
                    -o-linear-gradient(left, transparent 21%, #8b4513 21%, #371b07 25%, transparent 25%),
                    -o-linear-gradient(left, transparent 58%, #8b4513 58%, #371b07 64%, transparent 64%),
                    -o-linear-gradient(left, transparent 92%, #2f4f4f 92%, #121f1f 95%, transparent 95%),
                    -o-linear-gradient(top, #111 48%, transparent 48%),
                    -o-linear-gradient(left, transparent 96%, #2f4f4f 96%, #121f1f 99%, transparent 99%),
                    -o-linear-gradient(top, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%),
                    -o-linear-gradient(left, transparent 35%, #cd5c5c 35%, #522424 41%, transparent 41%),
                    -o-linear-gradient(top, #111 68%, transparent 68%),
                    -o-linear-gradient(left, transparent 78%, #bc8f8f 78%, #4b3939 80%, transparent 80%, transparent 82%, #bc8f8f 82%, #4b3939 83%, transparent 83%),
                    -o-linear-gradient(left, transparent 66%, #a52a2a 66%, #421010 85%, transparent 85%);
  background-image: linear-gradient(to top, #d2b48c 5%, #111 6%, #111 7%, transparent 7%),
                    linear-gradient(to bottom, #111 30%, transparent 30%),
                    linear-gradient(to right, #b22222, #470d0d 5%, transparent 5%),
                    linear-gradient(to right, transparent 6%, #ff6347 6%, #66271c 9%, transparent 9%),
                    linear-gradient(to right, transparent 27%, #556b2f 27%, #222a12 34%, transparent 34%),
                    linear-gradient(to right, transparent 51%, #fa8072 51%, #64332d 57%, transparent 57%),
                    linear-gradient(to bottom, #111 35%, transparent 35%),
                    linear-gradient(to right, transparent 42%, #008080 42%, #003333 44%, transparent 44%), 
                    linear-gradient(to right, transparent 45%, #008080 45%, #003333 47%, transparent 47%),
                    linear-gradient(to right, transparent 48%, #008080 48%, #003333 50%, transparent 50%), 
                    linear-gradient(to right, transparent 87%, #778899 87%, #2f363d 91%, transparent 91%), 
                    linear-gradient(to bottom, #111 37.5%, transparent 37.5%),
                    linear-gradient(to right, transparent 14%, #bdb76b 14%, #4b492a 20%, transparent 20%),
                    linear-gradient(to bottom, #111 40%, transparent 40%),
                    linear-gradient(to right, transparent 10%,#808000 10%, #333300 13%, transparent 13%),
                    linear-gradient(to right, transparent 21%, #8b4513 21%, #371b07 25%, transparent 25%),
                    linear-gradient(to right, transparent 58%, #8b4513 58%, #371b07 64%, transparent 64%),
                    linear-gradient(to right, transparent 92%, #2f4f4f 92%, #121f1f 95%, transparent 95%),
                    linear-gradient(to bottom, #111 48%, transparent 48%),
                    linear-gradient(to right, transparent 96%, #2f4f4f 96%, #121f1f 99%, transparent 99%),
                    linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%),
                    linear-gradient(to right, transparent 35%, #cd5c5c 35%, #522424 41%, transparent 41%),
                    linear-gradient(to bottom, #111 68%, transparent 68%),
                    linear-gradient(to right, transparent 78%, #bc8f8f 78%, #4b3939 80%, transparent 80%, transparent 82%, #bc8f8f 82%, #4b3939 83%, transparent 83%),
                    linear-gradient(to right, transparent 66%, #a52a2a 66%, #421010 85%, transparent 85%);
  background-size: 300px 150px;
  background-position: center bottom;
  -webkit-clip-path: circle(150px at center center);
  clip-path: circle(150px at center center);
  -webkit-animation: flashlight 5000ms infinite;
  animation: flashlight 5000ms infinite;
}
  
.loader::after {
  content: '';
  width: 35px;
  height: 15px;
  position: absolute;
  left: calc(50% + 59px);
  bottom: 100px;
  background-repeat: no-repeat;
  background-image: -o-radial-gradient(circle, #fff 50%, transparent 50%), -o-radial-gradient(circle, #fff 50%, transparent 50%);
  background-image: radial-gradient(circle, #fff 50%, transparent 50%), radial-gradient(circle, #fff 50%, transparent 50%);
  background-size: 15px;
  background-position: left center, right center;
  -webkit-animation: eyes 5000ms infinite;
  animation: eyes 5000ms infinite;
}

@-webkit-keyframes flashlight {
  0%, 9%        { opacity: 0; -webkit-clip-path: circle(150px at 45% 10%); clip-path: circle(150px at 45% 10%); }
  10%, 15%, 85% { opacity: 1; }
  50%           { -webkit-clip-path: circle(150px at 60% 20%); clip-path: circle(150px at 60% 20%); }
  54%, 100%     { -webkit-clip-path: circle(150px at 55% 92%); clip-path: circle(150px at 55% 92%); }
  88%, 100%     { opacity: 0; }
}

@keyframes flashlight {
  0%, 9%        { opacity: 0; -webkit-clip-path: circle(150px at 45% 10%); clip-path: circle(150px at 45% 10%); }
  10%, 15%, 85% { opacity: 1; }
  50%           { -webkit-clip-path: circle(150px at 60% 20%); clip-path: circle(150px at 60% 20%); }
  54%, 100%     { -webkit-clip-path: circle(150px at 55% 92%); clip-path: circle(150px at 55% 92%); }
  88%, 100%     { opacity: 0; }
}

@-webkit-keyframes eyes {
  0%, 52%   { opacity: 0; }
  53%, 87%  { opacity: 1; }
  70%       { -webkit-transform: scaleY(1); transform: scaleY(1); }
  75%       { -webkit-transform: scaleY(0); transform: scaleY(0); }
  80%       { -webkit-transform: scaleY(1); transform: scaleY(1); }
  88%, 100% { opacity: 0; }
}

@keyframes eyes {
  0%, 52%   { opacity: 0; }
  53%, 87%  { opacity: 1; }
  70%       { -webkit-transform: scaleY(1); transform: scaleY(1); }
  75%       { -webkit-transform: scaleY(0); transform: scaleY(0); }
  80%       { -webkit-transform: scaleY(1); transform: scaleY(1); }
  88%, 100% { opacity: 0; }
}
/*=================================
  Loader styling ends here
=================================*/
/*=================================
  Home section styling starts here
=================================*/
.form-group { margin: 1rem 0; }

.home .row { 
  -webkit-box-pack: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
}

.home {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

h1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #bac7a7), to(#e5e4cc));
  background: -o-linear-gradient(left, #bac7a7 20%, #e5e4cc);
  background: linear-gradient(to right, #bac7a7 20%, #e5e4cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: bold 5rem sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.form-control {
  padding: 25px 5%;
  border: none;
  color: #121f1f;
  font-size: 20px;
  outline: none;
}

.form-control:focus { 
  -webkit-box-shadow: 1px 1px 5px #808000; 
  box-shadow: 1px 1px 5px #808000;
  color: #121f1f;
}
/*=================================
  Home section styling ends here
=================================*/
/*=================================
  Output section styling starts here
=================================*/
.container-fluid { padding: 0 5%; }
.output { padding: 30px 0; }
.card-image { text-align: center; }
.card a:hover { background-color: #1e5f74; }

.card {
  min-height: 500px;
  padding: 15px;
  border: none;
  background: rgba(204,204,170,.7);
}

.card-image img {
  width: 150px;
  height: 200px;
}

.card-content p { 
  margin-bottom: 15px; 
  color: #1e5f74;
  font-size: 15px;
  letter-spacing: .5px;
}

.card-content .card-title {
  margin-top: 20px;
  color: #1d2d50;
  font: bold 20px sans-serif;
}

.card .title {
  color: #133b5c;
  font: bold 15px sans-serif;
}

.card a {
  border: none;
  background-color: #133b5c;
  font-size: 15px;
  letter-spacing: .5px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
/*=================================
  Output section styling ends here
=================================*/
/*=================================
  Main styling ends here
=================================*/